@charset "UTF-8";
/* line 324, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.3/";
}

/* line 328, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 333, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 343, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 348, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 353, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 360, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 363, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 369, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 373, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 386, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 389, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 391, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 395, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 402, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 403, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 176, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 177, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 405, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 411, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 414, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 424, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 427, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 150, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 151, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 152, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 153, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Typography resets */
/* line 188, ../bower_components/foundation/scss/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* line 212, ../bower_components/foundation/scss/foundation/components/_type.scss */
a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}
/* line 217, ../bower_components/foundation/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #0078a0;
}
/* line 225, ../bower_components/foundation/scss/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 229, ../bower_components/foundation/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 237, ../bower_components/foundation/scss/foundation/components/_type.scss */
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
/* line 239, ../bower_components/foundation/scss/foundation/components/_type.scss */
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 247, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 257, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 264, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 {
  font-size: 2.125rem;
}

/* line 265, ../bower_components/foundation/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.6875rem;
}

/* line 266, ../bower_components/foundation/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.375rem;
}

/* line 267, ../bower_components/foundation/scss/foundation/components/_type.scss */
h4 {
  font-size: 1.125rem;
}

/* line 268, ../bower_components/foundation/scss/foundation/components/_type.scss */
h5 {
  font-size: 1.125rem;
}

/* line 269, ../bower_components/foundation/scss/foundation/components/_type.scss */
h6 {
  font-size: 1rem;
}

/* line 271, ../bower_components/foundation/scss/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* line 273, ../bower_components/foundation/scss/foundation/components/_type.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 282, ../bower_components/foundation/scss/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 288, ../bower_components/foundation/scss/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 294, ../bower_components/foundation/scss/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 299, ../bower_components/foundation/scss/foundation/components/_type.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* Lists */
/* line 306, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 316, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}
/* line 318, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 321, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
/* line 334, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
/* line 343, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 346, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
/* line 347, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
/* line 348, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
/* line 349, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 353, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol {
  margin-left: 1.4rem;
}
/* line 356, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 366, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 370, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
/* line 374, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 382, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* Blockquotes */
/* line 387, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
/* line 392, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
/* line 396, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 400, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 406, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 413, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
/* line 419, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}
/* line 423, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

/* line 430, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}
/* line 432, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 443, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 444, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 445, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.3125rem;
  }

  /* line 446, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.6875rem;
  }

  /* line 447, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h4 {
    font-size: 1.4375rem;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 458, ../bower_components/foundation/scss/foundation/components/_type.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 460, ../bower_components/foundation/scss/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 467, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 469, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 471, ../bower_components/foundation/scss/foundation/components/_type.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 474, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 478, ../bower_components/foundation/scss/foundation/components/_type.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 484, ../bower_components/foundation/scss/foundation/components/_type.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 486, ../bower_components/foundation/scss/foundation/components/_type.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 489, ../bower_components/foundation/scss/foundation/components/_type.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 493, ../bower_components/foundation/scss/foundation/components/_type.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 500, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 503, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 504, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .print-only {
    display: block !important;
  }

  /* line 505, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 506, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .show-for-print {
    display: inherit !important;
  }
}
/* line 176, ../bower_components/foundation/scss/foundation/components/_global.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}
/* line 177, ../bower_components/foundation/scss/foundation/components/_global.scss */
.cf:after {
  clear: both;
}

/* line 3, ../scss/_block_link_image_lorem.scss */
a.block {
  display: block;
}
/* line 5, ../scss/_block_link_image_lorem.scss */
a.block:hover {
  background-color: #f6f6f6;
}

/* line 9, ../scss/_block_link_image_lorem.scss */
img {
  margin-bottom: 20px;
}
/* line 11, ../scss/_block_link_image_lorem.scss */
img.left {
  margin-right: 10px;
  margin-bottom: 5px;
}
/* line 15, ../scss/_block_link_image_lorem.scss */
img.right {
  margin-left: 10px;
  margin-bottom: 5px;
}

/* line 4, ../scss/_margin_bottom.scss */
.mb {
  margin-bottom: 40px;
}
/* line 6, ../scss/_margin_bottom.scss */
.mb-harf {
  margin-bottom: 20px;
}
/* line 9, ../scss/_margin_bottom.scss */
.mb-2 {
  margin-bottom: 80px;
}
/* line 12, ../scss/_margin_bottom.scss */
.mb-3 {
  margin-bottom: 120px;
}

/* line 4, ../scss/_megane.scss */
.hide-sp {
  display: none;
}

/* line 7, ../scss/_megane.scss */
#side-bar {
  background-color: #513364;
}
/* line 9, ../scss/_megane.scss */
#side-bar .side-bar-inner {
  padding: 20px;
  color: #fff;
}
/* line 12, ../scss/_megane.scss */
#side-bar .side-bar-inner h1, #side-bar .side-bar-inner h2, #side-bar .side-bar-inner h3, #side-bar .side-bar-inner h4, #side-bar .side-bar-inner h5, #side-bar .side-bar-inner h6 {
  color: #fff;
}
/* line 15, ../scss/_megane.scss */
#side-bar .side-bar-inner ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../scss/_megane.scss */
#side-bar .side-bar-inner li {
  list-style: none;
  font-size: 1rem;
  font-weight: normal;
}
/* line 24, ../scss/_megane.scss */
#side-bar .side-bar-inner a {
  color: #FFF;
}
/* line 26, ../scss/_megane.scss */
#side-bar .side-bar-inner a:hover {
  color: #9f9f9f;
}
/* line 30, ../scss/_megane.scss */
#side-bar .side-bar-inner i {
  margin-right: 10px;
}

/* line 35, ../scss/_megane.scss */
#main-content {
  margin-top: 20px;
  padding: 0 10px;
}

/* line 39, ../scss/_megane.scss */
article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* line 43, ../scss/_megane.scss */
.post-title {
  margin-bottom: 20px;
}

/* line 46, ../scss/_megane.scss */
.btn {
  padding: 10px 30px;
  background-color: #513364;
  color: #FFF;
}
/* line 50, ../scss/_megane.scss */
.btn:hover {
  color: #FFF;
  background-color: #1a1120;
}

@media screen and (min-width: 900px) {
  /* line 56, ../scss/_megane.scss */
  .pc-hide {
    display: none;
  }

  /* line 59, ../scss/_megane.scss */
  .hide-sp {
    display: block;
  }

  /* line 62, ../scss/_megane.scss */
  #side-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
  }

  /* line 73, ../scss/_megane.scss */
  #main-content {
    position: absolute;
    left: 370px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 40px 12%;
    margin-top: 0;
  }

  /* line 82, ../scss/_megane.scss */
  .site-title {
    margin-bottom: 150px;
    margin-top: 25px;
  }
}
